/* #CONTACT INFO
=====================================================*/
.contact-info-container {
  margin-left:20px;
}
.contact-info-item-container {
  padding-left:60px;
  position:relative;
}
.contact-info-icon {
  position: absolute;
  top:0;
  left:0;
  display: block;
  font-size: 18px;
  font-weight: 100 !important;
  padding: 12px;
  border: 2px solid #7e8082;
  border-radius: 50%;
  color: #7e8082;
  height: 46px;
  width: 46px;
}
.icon_mail_alt.contact-info-icon {
  padding: 10px 13px 14px 12px;
}