
/* #404
================================================== */
.error404-text {
  text-align:center;
  color:#5a5a5a;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-size:30px;
  line-height:30px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.error404-numb {
  color:#909090;
  text-align:center;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-size:250px;
  line-height:250px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.error404-main-text h2 {
  text-align:center;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-size:30px;
  line-height:30px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}