/* #ALERT BOXES
================================================== */
.alert {
  border-radius: 0px;
}
.alert-icon {
  margin-right: 7px;
}

.iconed-box.error:before {
  background-position: -36px center;
}
.iconed-box.success:before {
  background-position: 0 center;
}
.iconed-box.info:before {
  background-position: -72px center;
}
.iconed-box.notice:before {
  background-position: -108px center;
}
.iconed-box:before {
  height: 100%;
  left: 10px;
  max-height: 80px;
  top: 0;
  width: 36px;
  background-attachment: scroll;
  background-color: transparent;
  background-image: url(../images/box-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.iconed-box:before {
  content: "";
  position: absolute;
}
.styled-box.success {
  background: none repeat scroll 0 0 #EDFFD7;
  border-color: #80c080;;
  color:#32a432;
}
.styled-box.error {
  background: none repeat scroll 0 0 #fdebeb;
  border-color: #ffa7a1;
  color:#e17585;
}
.styled-box.info {
  background: none repeat scroll 0 0 #E2F1FF;
  border-color: #73bfe4;
  color:#4ac2f3;
}
.styled-box.notice {
  background: none repeat scroll 0 0 #FFFFEE;
  border-color: #fbc778;
  color:#ff9900;
}
.styled-box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #D6D6D6;
  border-right-color: #D6D6D6;
  border-bottom-color: #D6D6D6;
  border-left-color: #D6D6D6;
}
.styled-box {
  margin-bottom: 15px;
  position: relative;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.demo .styled-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.iconed-box {
  padding-left: 60px;
}
#contact-form .iconed-box {
  padding-left: 60px;
  width:220px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}