/* #BREADCRUMB
================================================== */
.breadcrumb {
  background:none;
  border:none;
  border-radius: 0;
  font-weight: 300;
  font-size:12px;
  text-transform:uppercase;
  padding-top:2px;
  padding-left:0;
  margin-bottom: 0;
}
.breadcrumb-arrow {
  font-size:15px;
  padding-left: 3px;
  padding-right: 3px;
  color:#a7a7a7;
}