/*	#FAQ
===============================================*/
.styled-list li a {
  line-height:25px;
}
.styled-list > li:before {
  top: 5px;
}
.styled-list.norm-line-height > li:before {
  top: 1.5px;
}
.col-cap {
  margin-bottom:100%;
}
@media only screen and (min-width: 768px) and (max-width: 6007px) {

  .right-cap {
    float:right;
  }
}
.faq-item-img-container {
  text-align:center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.faq-item-img-container img{
  border:1px solid #d6d6d6;
}