/* #SEARCH
================================================== */
.sb-search {
  position: absolute;
  right:0;
  width: 0;
  min-width: 100px;
  height: 120px;
  float: right;
  -webkit-backface-visibility: hidden;
  transition: margin 0.3s ease 0s ;
}
.header-2 .sb-search , .header-4 .sb-search{
  height: 60px;
  min-width: 86px;
}
.sb-search-input {
  border-radius:0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 0;
  height: 60px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-weight:300;
  font-size: 14px;
  color: #2c3e50;
}
.sb-search-open .sb-search-input {
  width: 100%;
  transition: width 0.3s ease 0s;
  border: 2px solid $default-theme-color;
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 15px rgba(0,0,0,.1);
  box-shadow: 0 1px 15px rgba(0,0,0,.1);
}
.search-width {
  transition: width 10.3s ease-out 0s;
}
.sb-search-input-respons::-webkit-input-placeholder {
  color: #4b4e53;
  font-style:normal;
  opacity:1;
}
.sb-search-input-respons:-moz-placeholder {
  color: #4b4e53;
  font-style:normal;
  opacity:1;
}
.sb-search-input-respons:-ms-input-placeholder {
  font-style:normal;
  opacity:1;
}
.sb-search-input-respons {
  font-size: 14px;
  line-height:21px;
  color: #565a60;
  border-radius:0;
}
.sb-icon-search,
.sb-search-submit  {
  width: 120px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}
/***** #GOOGLE SEARCH *****/
.gsc-selected-option-container.gsc-inline-block {
  width:auto !important;
}
/***** #STICKY SEARCH BUTTON ANIMATION	*****/
.header-1 .sb-icon-search{
  height: 120px;
  width: 100px;
  transition: height 0.4s ease;
}
.affix.header-1 .sb-icon-search{
  height: 60px;
  transition: height 0.4s ease;
}
.affix.header .sb-search {
  height: 60px;
  transition: height 0.4s ease;
}

/***********************************************/
.header-2 .sb-icon-search, .header-2 .sb-search-submit, .header-3 .sb-icon-search, .header-3 .sb-search-submit, .header-4 .sb-icon-search, .header-4 .sb-search-submit {
  width: 86px;
}
.header-2 .sb-icon-search, .header-3 .sb-icon-search,  .header-4 .sb-icon-search{
  border:none;
}
.sb-search-submit {
  height:60px;
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
  filter: alpha(opacity=0); /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
  transition: opacity 0.3s ease 0s;
}
.sb-icon-search {
  background: #fff;
  z-index: 90;
  font-size: 22px;
  border-left: 1px solid #e3e3e3;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.sb-search-submit:hover, .sb-icon-search:hover{
  background-color: $default-theme-color;
  transition: background-color 0.3s ease 0s;
}
.sb-search-submit, .sb-icon-search{
  transition: background-color 0.3s ease 0s;
}
/* Open state */
.sb-search-open .sb-icon-search {
  height:auto;
}
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: $default-theme-color;
  z-index: 11;
  border:none;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}
.sb-search-open .icon_search.main-menu-icon {
  margin-top:7px !important;
  margin-bottom:7px !important;
  border:none;
}
.header-1 .icon_search.main-menu-icon {
  margin-bottom: 40px;
  margin-top: 34px;
  margin-left:25px;
}
.affix.header-3 .icon_search.main-menu-icon {
  margin-bottom:7px;
  transition: margin-bottom 0.4s ease, margin-top 0.4s ease, border .3s ease;
}
.header-3 .icon_search.main-menu-icon {
  border:none;
  margin: 34px 20px 0px 20px;
}
.header-2 .icon_search.main-menu-icon , .header-4 .icon_search.main-menu-icon{
  border:none;
  margin: 25px 20px 24px 20px;
}
.sb-search-open.sb-search {
  height: 60px;
}
.sb-search-open {
  margin-top: 10px;
}
.sb-search-open .main-menu-icon {
  color:#565a60;
}
.sb-search-open  .sb-search-submit:hover {
  opacity:1;
  color:#414146;
  height:60px;
  font-size:14px;
  padding-left:0;
  transition:all 0.3s ease 0s;
}
.sb-search-open  .sb-search-submit  {
  transition: all 0.5s ease 0s;
}
.header-3 .sb-search-open {
  margin-top:0;
  position: absolute;
  right: 0;
  top: 90px;
}
.header-2 .sb-search-open, .header-4 .sb-search-open {
  margin-top:0;
  position: absolute;
  right: 0;
  top: 105px;
}
.header-1 .sb-search-open {
  margin-top:0;
  position: absolute;
  right: 0;
  top: 130px;
}
.affix.header-1 .sb-search-open, .affix.header-2 .sb-search-open, .affix.header-3 .sb-search-open, .affix.header-4 .sb-search-open {
  top: 70px;
}
.header-3 .sb-search-open .icon_search.main-menu-icon {
  margin-top: 10px;
  margin-bottom:4px;
}
.header-2 .sb-search-open .icon_search.main-menu-icon , .header-2 .sb-search-open .icon_search.main-menu-icon, .header-4 .sb-search-open .icon_search.main-menu-icon , .header-4 .sb-search-open .icon_search.main-menu-icon{
  margin-top: 10px;
}