h4 {
    margin: 10px 0 15px 0;
}
.txt-white {
    color: #ffffff !important;
}

footer .logo-container {
    width: 100%;
}

footer .logo {
    height: auto;
}

footer .logo, footer .logo-slogan {
    padding-left: 40px;
    padding-right: 40px;
}

footer .logo-slogan {
    clear: both;
}

footer .logo .logo-img {
    width: 100%;
    height: auto;
}

.title-block, .feature-box2 .ca-main {
    font-weight: 500 !important;
    letter-spacing: -0.025em;
}

@media screen and (max-width: 768px) {
    footer .logo {
        width: 250px;
    }
    .page-title-container h1 {
        padding-bottom: 20px;
    }
}

.container-page strong {
    font-weight: normal;
}

.row.equal {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
.row.equal > [class*='col-'] {
    display: flex !important;
    flex-direction: column !important;
}

footer .icon-list.link {
    padding: 20px 0 30px 10px;
}

footer .icon-list.link li {
    padding: 3px 0;
}

footer .icon-list.link i {
    color: #ff5722;
    padding: 3px 0;
}

footer .icon-list.link a {
    color: #d2d5d8;
}

footer .icon-list.link a:hover {
    color: #ff5722;
}

.contact-icon-container span {
    color: #ff5722;
}

footer .dropup {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
footer .dropup ul {
    background-color: lightgrey;
    border-radius: 0;
    padding: 0;
}
footer .dropup li a {
    padding: 5px 10px;
}

.m-top-0{margin-top:0!important}.m-lft-0{margin-left:0!important}.m-rgt-0{margin-right:0!important}.p-top-0{padding-top:0!important}.p-lft-0{padding-left:0!important}.p-rgt-0{padding-right:0!important}.m-lft-5{margin-left:5px!important}.m-rgt-5{margin-right:5px!important}.p-top-5{padding-top:5px!important}.p-bot-5{padding-bottom:5px!important}.p-lft-5{padding-left:5px!important}.p-rgt-5{padding-right:5px!important}.m-lft-10{margin-left:10px!important}.m-rgt-10{margin-right:10px!important}.p-top-10{padding-top:10px!important}.p-lft-10{padding-left:10px!important}.p-rgt-10{padding-right:10px!important}.m-top-15{margin-top:15px!important}.m-lft-15{margin-left:15px!important}.m-rgt-15{margin-right:15px!important}.p-top-15{padding-top:15px!important}.p-bot-15{padding-bottom:15px!important}.p-lft-15{padding-left:15px!important}.p-rgt-15{padding-right:15px!important}.m-lft-20{margin-left:20px!important}.m-rgt-20{margin-right:20px!important}.p-top-20{padding-top:20px!important}.p-bot-20{padding-bottom:20px!important}.p-lft-20{padding-left:20px!important}.p-rgt-20{padding-right:20px!important}.m-lft-25{margin-left:25px!important}.m-rgt-25{margin-right:25px!important}.p-top-25{padding-top:25px!important}.p-bot-25{padding-bottom:25px!important}.p-lft-25{padding-left:25px!important}.p-rgt-25{padding-right:25px!important}.m-lft-30{margin-left:30px!important}.m-rgt-30{margin-right:30px!important}.p-top-30{padding-top:30px!important}.p-lft-30{padding-left:30px!important}.p-rgt-30{padding-right:30px!important}.m-top-35{margin-top:35px!important}.m-lft-35{margin-left:35px!important}.m-rgt-35{margin-right:35px!important}.p-top-35{padding-top:35px!important}.p-bot-35{padding-bottom:35px!important}.p-lft-35{padding-left:35px!important}.p-rgt-35{padding-right:35px!important}.m-lft-40{margin-left:40px!important}.m-rgt-40{margin-right:40px!important}.p-bot-40{padding-bottom:40px!important}.p-lft-40{padding-left:40px!important}.p-rgt-40{padding-right:40px!important}.m-top-45{margin-top:45px!important}.m-bot-45{margin-bottom:45px!important}.m-lft-45{margin-left:45px!important}.m-rgt-45{margin-right:45px!important}.p-top-45{padding-top:45px!important}.p-bot-45{padding-bottom:45px!important}.p-lft-45{padding-left:45px!important}.p-rgt-45{padding-right:45px!important}.m-lft-50{margin-left:50px!important}.m-rgt-50{margin-right:50px!important}.p-top-50{padding-top:50px!important}.p-bot-50{padding-bottom:50px!important}.p-lft-50{padding-left:50px!important}.p-rgt-50{padding-right:50px!important}.m-top-55{margin-top:55px!important}.m-bot-55{margin-bottom:55px!important}.m-lft-55{margin-left:55px!important}.m-rgt-55{margin-right:55px!important}.p-top-55{padding-top:55px!important}.p-bot-55{padding-bottom:55px!important}.p-lft-55{padding-left:55px!important}.p-rgt-55{padding-right:55px!important}.m-lft-60{margin-left:60px!important}.m-rgt-60{margin-right:60px!important}.p-top-60{padding-top:60px!important}.p-bot-60{padding-bottom:60px!important}.p-lft-60{padding-left:60px!important}.p-rgt-60{padding-right:60px!important}.m-top-65{margin-top:65px!important}.m-bot-65{margin-bottom:65px!important}.m-lft-65{margin-left:65px!important}.m-rgt-65{margin-right:65px!important}.p-top-65{padding-top:65px!important}.p-bot-65{padding-bottom:65px!important}.p-lft-65{padding-left:65px!important}.p-rgt-65{padding-right:65px!important}.m-top-70{margin-top:70px!important}.m-lft-70{margin-left:70px!important}.m-rgt-70{margin-right:70px!important}.p-top-70{padding-top:70px!important}.p-bot-70{padding-bottom:70px!important}.p-lft-70{padding-left:70px!important}.p-rgt-70{padding-right:70px!important}.m-top-75{margin-top:75px!important}.m-bot-75{margin-bottom:75px!important}.m-lft-75{margin-left:75px!important}.m-rgt-75{margin-right:75px!important}.p-top-75{padding-top:75px!important}.p-bot-75{padding-bottom:75px!important}.p-lft-75{padding-left:75px!important}.p-rgt-75{padding-right:75px!important}.m-top-80{margin-top:80px!important}.m-lft-80{margin-left:80px!important}.m-rgt-80{margin-right:80px!important}.p-top-80{padding-top:80px!important}.p-bot-80{padding-bottom:80px!important}.p-lft-80{padding-left:80px!important}.p-rgt-80{padding-right:80px!important}.m-top-85{margin-top:85px!important}.m-bot-85{margin-bottom:85px!important}.m-lft-85{margin-left:85px!important}.m-rgt-85{margin-right:85px!important}.p-top-85{padding-top:85px!important}.p-bot-85{padding-bottom:85px!important}.p-lft-85{padding-left:85px!important}.p-rgt-85{padding-right:85px!important}.m-top-90{margin-top:90px!important}.m-bot-90{margin-bottom:90px!important}.m-lft-90{margin-left:90px!important}.m-rgt-90{margin-right:90px!important}.p-top-90{padding-top:90px!important}.p-bot-90{padding-bottom:90px!important}.p-lft-90{padding-left:90px!important}.p-rgt-90{padding-right:90px!important}.m-top-95{margin-top:95px!important}.m-bot-95{margin-bottom:95px!important}.m-lft-95{margin-left:95px!important}.m-rgt-95{margin-right:95px!important}.p-top-95{padding-top:95px!important}.p-bot-95{padding-bottom:95px!important}.p-lft-95{padding-left:95px!important}.p-rgt-95{padding-right:95px!important}.m-top-100{margin-top:100px!important}.m-bot-100{margin-bottom:100px!important}.m-lft-100{margin-left:100px!important}.m-rgt-100{margin-right:100px!important}.p-top-100{padding-top:100px!important}.p-bot-100{padding-bottom:100px!important}.p-lft-100{padding-left:100px!important}.p-rgt-100{padding-right:100px!important}.margin-0{margin:0!important}.padding-0{padding:0!important}.margin-5{margin:5px!important}.padding-5{padding:5px!important}.margin-10{margin:10px!important}.padding-10{padding:10px!important}.margin-15{margin:15px!important}.padding-15{padding:15px!important}.margin-20{margin:20px!important}.padding-20{padding:20px!important}.margin-25{margin:25px!important}.padding-25{padding:25px!important}.margin-30{margin:30px!important}.padding-30{padding:30px!important}.margin-35{margin:35px!important}.padding-35{padding:35px!important}.margin-40{margin:40px!important}.padding-40{padding:40px!important}.margin-45{margin:45px!important}.padding-45{padding:45px!important}.margin-50{margin:50px!important}.padding-50{padding:50px!important}.margin-55{margin:55px!important}.padding-55{padding:55px!important}.margin-60{margin:60px!important}.padding-60{padding:60px!important}.margin-65{margin:65px!important}.padding-65{padding:65px!important}.margin-70{margin:70px!important}.padding-70{padding:70px!important}.margin-75{margin:75px!important}.padding-75{padding:75px!important}.margin-80{margin:80px!important}.padding-80{padding:80px!important}.margin-85{margin:85px!important}.padding-85{padding:85px!important}.margin-90{margin:90px!important}.padding-90{padding:90px!important}.margin-95{margin:95px!important}.padding-95{padding:95px!important}.margin-100{margin:100px!important}.padding-100{padding:100px!important}.m-lft-rgt-0,.m-top-bot-0{margin:0!important}.p-lft-rgt-0,.p-top-bot-0{padding:0!important}.m-top-bot-5{margin:5px 0!important}.m-lft-rgt-5{margin:0 5px!important}.p-top-bot-5{padding:5px 0!important}.p-lft-rgt-5{padding:0 5px!important}.m-top-bot-10{margin:10px 0!important}.m-lft-rgt-10{margin:0 10px!important}.p-top-bot-10{padding:10px 0!important}.p-lft-rgt-10{padding:0 10px!important}.m-top-bot-15{margin:15px 0!important}.m-lft-rgt-15{margin:0 15px!important}.p-top-bot-15{padding:15px 0!important}.p-lft-rgt-15{padding:0 15px!important}.m-top-bot-20{margin:20px 0!important}.m-lft-rgt-20{margin:0 20px!important}.p-top-bot-20{padding:20px 0!important}.p-lft-rgt-20{padding:0 20px!important}.m-top-bot-25{margin:25px 0!important}.m-lft-rgt-25{margin:0 25px!important}.p-top-bot-25{padding:25px 0!important}.p-lft-rgt-25{padding:0 25px!important}.m-top-bot-30{margin:30px 0!important}.m-lft-rgt-30{margin:0 30px!important}.p-top-bot-30{padding:30px 0!important}.p-lft-rgt-30{padding:0 30px!important}.m-top-bot-35{margin:35px 0!important}.m-lft-rgt-35{margin:0 35px!important}.p-top-bot-35{padding:35px 0!important}.p-lft-rgt-35{padding:0 35px!important}.m-top-bot-40{margin:40px 0!important}.m-lft-rgt-40{margin:0 40px!important}.p-top-bot-40{padding:40px 0!important}.p-lft-rgt-40{padding:0 40px!important}.m-top-bot-45{margin:45px 0!important}.m-lft-rgt-45{margin:0 45px!important}.p-top-bot-45{padding:45px 0!important}.p-lft-rgt-45{padding:0 45px!important}.m-top-bot-50{margin:50px 0!important}.m-lft-rgt-50{margin:0 50px!important}.p-top-bot-50{padding:50px 0!important}.p-lft-rgt-50{padding:0 50px!important}.m-top-bot-55{margin:55px 0!important}.m-lft-rgt-55{margin:0 55px!important}.p-top-bot-55{padding:55px 0!important}.p-lft-rgt-55{padding:0 55px!important}.m-top-bot-60{margin:60px 0!important}.m-lft-rgt-60{margin:0 60px!important}.p-top-bot-60{padding:60px 0!important}.p-lft-rgt-60{padding:0 60px!important}.m-top-bot-65{margin:65px 0!important}.m-lft-rgt-65{margin:0 65px!important}.p-top-bot-65{padding:65px 0!important}.p-lft-rgt-65{padding:0 65px!important}.m-top-bot-70{margin:70px 0!important}.m-lft-rgt-70{margin:0 70px!important}.p-top-bot-70{padding:70px 0!important}.p-lft-rgt-70{padding:0 70px!important}.m-top-bot-75{margin:75px 0!important}.m-lft-rgt-75{margin:0 75px!important}.p-top-bot-75{padding:75px 0!important}.p-lft-rgt-75{padding:0 75px!important}.m-top-bot-80{margin:80px 0!important}.m-lft-rgt-80{margin:0 80px!important}.p-top-bot-80{padding:80px 0!important}.p-lft-rgt-80{padding:0 80px!important}.m-top-bot-85{margin:85px 0!important}.m-lft-rgt-85{margin:0 85px!important}.p-top-bot-85{padding:85px 0!important}.p-lft-rgt-85{padding:0 85px!important}.m-top-bot-90{margin:90px 0!important}.m-lft-rgt-90{margin:0 90px!important}.p-top-bot-90{padding:90px 0!important}.p-lft-rgt-90{padding:0 90px!important}.m-top-bot-95{margin:95px 0!important}.m-lft-rgt-95{margin:0 95px!important}.p-top-bot-95{padding:95px 0!important}.p-lft-rgt-95{padding:0 95px!important}.m-top-bot-100{margin:100px 0!important}.m-lft-rgt-100{margin:0 100px!important}.p-top-bot-100{padding:100px 0!important}.p-lft-rgt-100{padding:0 100px!important}.uppercase{text-transform:uppercase}