/* blue #37a2d6 / rgba(55, 162, 214,0.5)
====================================================================== */
::selection
{
	background-color: #37a2d6;
	color:#fff;
}
::-moz-selection  
{
	background-color: #37a2d6;
	color:#fff;
}

.header .main-menu .navbar .nav > li:hover > a {
  background-color: #37a2d6;
  color:#fff;
}
.header .main-menu .navbar .nav > li:hover > a {
  background-color: #37a2d6;
  color:#fff;
}
.header .main-menu .navbar .nav > li.parent:hover > a {
  background: #37a2d6;
  color:#fff;
}
.header .main-menu .navbar .nav > li.current > a {
  background: #37a2d6;
  color:#fff;
}
.header-2 .main-menu .navbar .nav > li.current > a {
	border-bottom: 3px solid #37a2d6;
	background: #fff;
	color:#565a60;
}
.header .main-menu .sub {
  background: #fff;
  border-top: 10px solid #37a2d6;
  border-bottom: 10px solid #37a2d6;
}
.social-link {
	color:#fff;
	background-color:#37a2d6;
}
.social-link:hover {
	color:#fff;
	background-color:#4b4e53;
}
.ts-icon-container span {
	color: #fff;
	border-color: #fff;
}
.nl-icon-container .icon_mail_alt {
	color: #fff;
	border-color: #fff;
}
.sb-search-open .sb-search-input {
	border: 2px solid #37a2d6;
}
.sb-search-submit:hover, .sb-icon-search:hover{
	background-color: #37a2d6;

}
.sb-icon-search:hover .main-menu-icon {
	color:#fff !important;
	border-color:#fff;
}
.sb-search-open  .main-menu-icon {
	color: #fff;
}
.sb-search-open .sb-search-submit:hover {
	color: #fff;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #37a2d6;
}
.next-blog, .prev-blog, .next-portfolio, .prev-portfolio{
	background-color:#37a2d6;
}
.ts-icon-container {
	background-color:#37a2d6;
}
.nl-icon-container {
	background-color:#37a2d6;
}
.nl-button {
	color:#fff;
	background-color:#37a2d6;
}
.logo-text-container {
	color: #fff;
}
.social-icons-container-footer .main-menu-icon {
	color:#fff ;
	border-color:#fff;
}
blockquote.custom-blockquote:before {
	background-color:#37a2d6;
}
.page-title-container {
	background:#37a2d6;
}
.countdown-item-container {
	background: #37a2d6;
}
.sevice-item {
	background:#37a2d6;
}
.blog-categories li a:hover .blog-cat-icon{
	background-color:#37a2d6;
}
.blog-categories li.current .blog-cat-icon{
	background-color:#37a2d6;
}
.pagination-1 a:hover {
	background-color:#37a2d6;
	color:#fff;
}
.pagination-1 a.pag-current {
	background:#37a2d6;
	color:#fff;
}
.pagination-1 .pag-prev:hover {
	background-color:#37a2d6;
}
.pagination-1 .pag-next:hover {
	background-color:#37a2d6;
}
.by-post-author .comment-author-avatar {
	background: #37a2d6;
} 
.comment-author-badge{
	background: #37a2d6;
	color: #fff;
}
.skill-bar-content {
	background: #37a2d6;
}
.skillbar-bar {
	background:#37a2d6; 
	color: #fff;	
}
.skill-bar .skill-title {
	color: #fff;
}
.skillbar-title {
	color: #fff;
}
.latest-post-sidebar img:hover {
    border-color: #37a2d6;
	background: none repeat scroll 0 0 #37a2d6;
}
.social-share-container .main-menu-icon:hover{
	background:#37a2d6;
}
.dropcap4 {
	background: none repeat scroll 0 0 #37a2d6;
    color: #fff;
}
.social-icons-container-footer {
	background-color:#37a2d6;
}
.title-block.footer-block {
	color: #fff;
	background-color: #37a2d6;
}
.latest-post-footer-item a:hover .title-post-footer{
	color:#37a2d6;
}
.title-bg-after:after{
	background: #37a2d6;
}
#footer-nav li a:hover {
	color:#37a2d6;
}
.footer-copyright-text a.author {
	color:#37a2d6;
}
.logo-row-footer-2 {
	background-color:#37a2d6;
	color:#fff;
}
.title-block.footer-2-block {
	color: #fff;
	background-color: #37a2d6;
}
.r-m-plus:after{
	background-color:#37a2d6 !important;
}
a.r-m-full:hover {
	background-color:#37a2d6;
	color:#414146;
}
a.r-m-plus-small {
    background-color:#37a2d6 !important;
}
.blog-rm:hover {
	background-color:#37a2d6 !important;
	color:#fff !important;
	border: 2px solid #37a2d6 !important;
}
.highlight-text, .highlight-text-grey {
	background-color: #37a2d6;
	color:#fff;
}
.button {
	background-color:#37a2d6;
	color:#fff;
}
.button.thin:hover {
	background-color:#37a2d6;
	color:#fff;
	/* border: 2px solid #37a2d6; */
}
.button.thin-bg-dark:hover {
	background-color:#37a2d6 !important;
	color:#fff !important;
	border: 2px solid #37a2d6 !important;
}
.button.hover-thin  {
	border: 2px solid #37a2d6;
}
.button.thin-inv, .button.thin-inv-bg-dark {
	background-color:#37a2d6 !important;
	color:#fff !important;
	border: 2px solid #37a2d6 !important;	
}
.button.gray:hover {
	color:#fff;
	background-color:#37a2d6;
}
.button.gray-lite:hover {
	background-color:#37a2d6;
	color:#fff;
}
.button.get-theme {
	background-color:#37a2d6;
}
#back-top a:hover {
	background-color: #37a2d6;
}
.hi-icon {
	color: #fff;
}
.hi-icon-effect-9 .hi-icon:after {
	box-shadow: 0 0 0 2px #fff;
}
.feature-box2 .ca-icon {
	background-color:#37a2d6;
	color:#fff;
}
.feature-box1 {
	background-color:#37a2d6;
}
.feature-box1:before {
	background: #37a2d6;
}
.feature-box1:after {
	background: #37a2d6;
}
.service-icon {
	border: 2px solid #fff;
	color: #fff;
}
.service-item-title {
	color: #fff;
}
.countdown-amount, .countdown-period {
	color: #fff;
}
.ui-accordion-header:hover span{
	background-color: #37a2d6;
}
.ui-accordion-header-active span {
	background-color: #37a2d6;
}
.title-block-2 {
	color:#fff;
	background-color:#37a2d6;
}
.title-block {
	color:#fff;
	background-color:#37a2d6;
}
.title-lines:before {
	background: #37a2d6;
}
.pt-best .pt-content-container {
	border-right:2px solid #37a2d6;
	border-left:2px solid #37a2d6;
}
.pt-best .pt-h1-container {
	border:2px solid #37a2d6;
}
.pt-best .price-container {
	background:#37a2d6;
	color:#fff;
}
.price-col-main h1 {
	background-color: #37a2d6;
	color: #fff;
}
.pt-col-main {
	background-color:#37a2d6;
}
.pt-best .currency, .pt-best .price, .pt-best .cents, .pt-best .place2 {
	color: #fff;
}
h1.pt-col-main {
	background-color:#37a2d6;
	color:#fff;
}
.feature2-numb-container {
	background-color: #37a2d6;
}
.feature2-numb {
	color: #fff;
}
.at {
	color: #37a2d6;
}
.hi-icon-wrap {
	background-color:#37a2d6;
}
.normal-page .normal-page-act {
	background-color: #37a2d6 !important;
}
.one-page .one-page-act {
	background-color: #37a2d6 !important;
}
.layout-switcher a.layout:hover {
	background: #37a2d6;
}
.layout-switcher a.layout.current {
	background: #37a2d6;
}
a.dark-style:hover {
	color:#fff;
	background:#37a2d6;
}
/********************************************/
.post-meta li a:hover{
	color: #37a2d6;
}
a {
    color: #37a2d6;
}
.a-invert:hover{
	color: #37a2d6;
}
/* #FFF
*********************************************/
.page-title-container h2 {
	color: #fff;
}
.header .main-menu .navbar .nav > li.current > a .main-menu-icon {
	color: #fff;
	border-color: #fff;
}
.header .main-menu .navbar .nav > li:hover > a .main-menu-icon {
	color: #fff;
	border-color: #fff;
}
/*  .sb-search-submit:hover, .sb-icon-search:hover {
	border-color:#fff;
	color:#fff;
}  */

.feature7-bg-mask{
	background-color: rgba(55, 162, 214,0.5);
}
.feature7-main-container {
	background: #37a2d6;
}
.feature7-main-text {
	color:#fff;
}
.feature7-sub-text {
	color:#fff;
	border-left: 2px solid #fff;
}
.counter-bg-color {
	background: #37a2d6;
}
.counter-icon, .counter-bg-color .highlight, .counter-bg-color {
	color:#fff;
}

/* #RGB
*********************************************/
.ts-icon-container-bg {
	background-color: rgba(55, 162, 214,0.5);
}
.nl-icon-container-bg {
	background-color: rgba(55, 162, 214,0.5);
}
.page-title-bg {
	background: rgba(55, 162, 214, .5);
}
.mask-main-color-bg {
	background-color: rgba(55, 162, 214, .5);
} 
.mask-main-color-bg:after {
	background-color: rgba(55, 162, 214, .5);
}
.mask-footer-copyright-container {
	background-color: rgba(55, 162, 214, .5);
}
.mask-footer-copyright-container:after {
	background-color: rgba(55, 162, 214, .5);
}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
 @media (max-width: 991px) {

	.sb-search-submit-respons{
		background-color:#37a2d6;
	}
	.sb-search-submit-respons:hover	{
		background-color:#37a2d6;
	}
} 

/* #FLEXSLIDER
*********************************************/
.flex-direction-nav li a:hover {
	/* background-color: #37a2d6; */
}
.slider-1 .slides li h2 { 
	color:#fff;
	background-color:#37a2d6;
}

/* #REVO SLIDER
*********************************************/
.slider-1-cap-bg30 {
	background-color:#37a2d6;
	color:#fff;
}
.slider-1-cap-bg30-only {
	background-color:#37a2d6;
	color:#fff;
}
.slider-1-num-bg160 {
	background: rgba(55, 162, 214, 0.5) !important;
}
.slider-1-num {
	color: #fff;
}
.font-color-change .feature-box1 .ca-main, .font-color-change .feature-box1 .ca-icon, .font-color-change .feature-box1 .ca-sub {
	color:#fff;
}
